									@media screen and (max-width: 767px)
												
												{
													body 
														{
															font-family: 'DM Serif Text', serif;
															background-color: #e9e7ee;
															font-size: 1.2em;
															line-height:1.2em;
														}
													head
														{
															width:100%; 
															
														}
													#wrapper
														{
															width:100%;  	
															max-width:767px;
															box-sizing: border-box;
															padding-top:4%;
															overflow:scroll;
														}
													#bannername
														{
															display:none;
														}
													#BrathwaiteTitle
														{
															line-height:1.5em;
														}
													#header
														{
															color:#2f2e32; 
															height:9%; 
															width:100%; 
															text-align:center; 
														}
													
													nav
														{
															margin-top:1%;
															width:100%;
														}	
													nav a, nav li
														{
															color:black;
															text-decoration:none;
															font-weight:normal;
															font-size:100%;
															padding:1%;  
															display:inline;
														}
													
													#header img
														{
															width:50%;
															
														}
													
									/*////////// portfolio ////////*/
											
													#portfolioH1
														{
															font-size:1em;
															text-align:center;
														}
													#portfolioP
														{
															text-align:center;
															margin-bottom:10%;
														}
													#LearnMoreButton
														{
															border:2px solid gray;
															border-radius:9%;
															padding:2%;
															margin-left:35%;
															margin-bottom:10%;
															margin-top:15%;
														}
													#happyfamily
														{
															width:60%;
															margin-left:20%;
															margin-bottom:10%;
															border:1px solid gray;
															margin-top:10%;
														}
													#p
														{
															
															width:80%;
															line-height:1.5em;
															font-size:1.2em;
															text-align:center;
															margin-left:auto;
															margin-right:auto;
														}
													footer 
														{
															background-color:#838a85;
															width:100%;
															font-size: 90%; 
															height:100%;
															clear:both;
															padding-top:2%;
															padding-bottom:10%;
															
														}
													
													#footerh1
														{
															width:90%;
															margin-right:auto;
															font-weight:normal;
															margin-left:auto;
															color:white;
															text-align:center;
															line-height:1.2em;
															
														}
													footer a:link
														{
															color:white;
														}	
													#footerleft
														{
															text-align:center;
															width:80%;
															margin-left:auto;
															margin-right:auto;
															color:white;
														}
													#footerleft h2, #footerleft h3
														{
															font-weight:normal;
														}
													.footeremail
														{
															font-weight:normal; line-height:1.1em;
														}
													
													
													footer
														{
															height:auto;													
														}
													#footerright
														{
															color:white;
															width:100%; 
															margin-top:30px;
															text-align:center;
															margin-right:3%;
															margin-left:2%;
														}
													#firstname, #lastname, #readersemail, #cellphone, #zipcode
														{
															background-color:white;
															color:black;	
															height:45px;
															font-size:1em;
															width:60%;
														}
												
													#lifeinsuranceproducts
														{
															width:100%; font-size:.8em; 
														}
													#lifeinsuranceproducts input
														{
					
															display:none;  /*gets rid of the checkbox  */
														}
													#lifeinsuranceproducts ul
														{
															list-style-type:none;
														}
													#lifeinsuranceproducts li
														{
															 border:1px solid black;
															 Width:40%;
															 display:inline-block;
															 max-height:200px;
														}
													#lifeinsuranceproducts img
														{
															max-height:100px;
														}
													#select
														{
															font-weight:normal;
														}
													submitbutton
														{
															background-color:black;
														}
														
													label:before   /*this is for the little circle with a check in it that appears once the icon is checked   */
														{
															  background-color: white;
															  color: white;
															  content: " ";
															  display: block;
															  border-radius: 50%;
															  border:1px solid green;
															  width: 25px;
															  height: 25px;
															  text-align: center;
															  line-height: 28px;
															  transition-duration: 0.4s;
															  transform: scale(0); 
														}

													label img          /*  this is for the actual icon  */
														{
															 height: 40%;
															 width: 40%;
															 transition-duration: 0.2s; 
															 transform-origin: 50% 50%;
														}

													:checked + label /*  :checked is a pseudo element and is for when the box is checked  */
															{
															  border-color: #ddd;
															}

														:checked + label:before   /*  inserts something before the element  */
															{
															  content: "✓";
															  background-color: grey;
															  transform: scale(1);
															}

														:checked + label img 
															{
															  transform: scale(0.9);
															  /* box-shadow: 0 0 5px #333; */
															  z-index: -1;
															}	
																									
												/*/////// about us  ///////*/

														#evanandjustinimg
															{
																width:40%;
																border-style:inset;
																border-radius:10px;
																border:3px solid gray;
																margin-top:1.77%;
																margin-left:30%;
																margin-right:25%;
															}
																									
														#ourstory 
															{
																width:90%; 
																border:1px solid gray;
																float:left;
																font-size:.9em;
																background-color:#1da38b;
																color:white;
																line-height:1.5em;
																text-align:center;
																border-radius:10px;
																margin-left:5%;
																margin-top:1%;
																font-weight:400;															
															}
														#ourstory h1
															{
																font-size:1.2em;
																margin-bottom:-5%;
																font-weight:normal;
															}
														#ourstory h3
															{
																font-weight:normal;
															}
														#aboutus1 h2
															{
																background-color:#156356;
																width:65%;
																color:white;
																font-size:1em;
																border-radius:10px;
																margin-top:4%;
																margin-left:14%;
																float:left;
																line-height:2em;
																padding-top:5%;
																padding-bottom:5%;
																padding-left:4%;
																padding-right:3%;
																text-align:center;
																font-weight:normal;
															}

														#happymech
															{
																margin-left:30%;
																margin-top:4%;
																border-radius:10px;
																Width:40%;
																height:50%;
															}
														#ourstory2, #ourstory3
															{
																width:95%;
																background-color:#c4dfc2;
																float:right;
																font-size:.9em;
																line-height:1.5em;
																padding-left:4%;
																padding-right:3%;
																padding-bottom:4%;
																padding-top:2%;
																color:#063415;
																text-align:justify;
																margin-top:2%;
																margin-bottom:2%;
																border-radius:10px;
																font-weight:normal;
															
															}
															
															#values h1
																{
																	text-align:center;
																	position:relative;
																	font-weight:bold;
																	margin-right:5%;
																}
															
															
															#values h1
																{
																	text-align:center;
																	position:relative;
																	font-weight:normal;
																	Width:100%;
																	margin-left:auto;
																	margin-right:auto;
																	margin-top:10%;
																	font-size.9em;
																	
																}
															#values ul
																{
																	display:none;
																}
															
															
															#values2, #values3, #values4
																{
																	width:90%;
																	background-color:#4b8766;
																	color:white;
																	padding-left:5%;
																	padding-right:5%;
																	padding-bottom:3%;
																	padding-top:3%;
																	text-align:center;
																	font-size:.8em;
																	border-radius:10px;
																	margin-bottom:2%;
																	margin-right:2%;
																}	
															#educationh1
																{
																	font-size:2em;
																	color:black;
																	width:95%;
																	line-height:1em;
																	margin-top:2%;
																	text-align:center;
																	font-weight:normal;
																}	
															#learn
																{
																	width:50%;
																	margin-left:25%;
																	
																}
															#educationh1, #education h1
																{
																	font-size:1em;
																	font-weight:400;
																	font-style:italic;
																}
															#education ul
																{
																	font-size:.8em;
																	color:#2e423d;
																	line-height:1.7em;
																	background-color:#c9d9d5;
																	padding:5%;
																	border-radius:5px;
																	
																}
															#topicsulleft li, #topicsulright li
																{
																	list-style-type: none;
																}
															#womanphone
																{
																	Width:50%;
																	margin-left:25%;
																}
															#contactH1
																{
																	font-size:1.2em;
																	Width:90%;
																	margin-left:10%;
																	font-weight:normal;
																}
															.contact h1
																{
																	font-size:1em;
																	Width:95%;
																	margin-left:7%;
																	font-weight:normal;
																}
															.contact img
																{
																	border-radius:50%;
																	Width:50%;
																	margin-left:0%;
																}
															#contactemaildiv h2
																{
																	Width:95%;
																	font-weight:400;
																	margin-left:auto;																	
																	margin-right:auto; 
																	text-align:center;
																}
															#contactemaildiv
																{
																	Width:100%;
																	font-weight:400;
																	margin-left:auto;
																	margin-right:auto; 
																	text-align:center;
																}
															#contactformdiv
																{
																	Width:100%;
																	text-align:center;
																	margin-left:auto;
																	margin-right:auto;
																	font-weight:400;
																}
															#contactformdiv h2
																{
																	font-weight:400;
																}
															#contactcall
																{
																	width:100%;
																	margin-left:auto;
																	margin-right:auto;
																	text-align:center;
																	font-weight:400;
																}
															#contactcall h2, #contactcall h3
																{
																	font-weight:400;
																}
									}
												
			
				@media screen and (min-width: 768px) and (max-width:1167px)
						
							{						
								body 
									{
										font-family: "Noto Sans", sans-serif;
										line-height: 1em;
										font-size: 1em;
									}
								head
									{
										width:100%; 
										
									}
								#wrapper
									{
										width:100%;  	
										max-width:1200px;
										background-position:center top;
										background-image: url("images/teal.jpg");
										background-repeat: no-repeat;
										box-sizing: border-box;
										padding-top:4%;
										overflow:hidden;
										margin-left:0%;
										min-height:550px;
									}
								
								
								#header
									{
										color:white; 
										height:9%; 
										width:100%; 
										margin-top:1%;
										text-align:center;
									}
								#BrathwaiteTitle
									{
										Width:45%;
										float:left;
										line-height:1.5em;
										font-size:3.8em;
										text-align:center;
										display:inline-block;
										font-weight:700;
									}
								
								#titleh3
									{
										Width:45%;
										float:left;
										font-size:3em;
										line-height:1.5em; 
										display:inline-block;
										margin-top:30%;
										margin-left:-43%;
									}
							    #bannername
									{
										display:none;
									}
								nav
									{
										margin-top:5%;
										width:100%;
										margin-left:auto;
										margin-right:auto;
										Width:100%; 
										text-align:center;
									}
								nav a, nav li
									{
										color:black;
										list-style-type: none;
										font-weight:bold;
										font-size:120%;
										padding:1%;  
										display:inline;
										text-align:center;
										text-decoration:none;
									}												
								#evanandjustin8		
									{
										Width:40%; height:60%;
										float:right;
										border-radius:5px;
										margin-right:10%;
										border-style:inset;
										margin-top:10%;
									}									
								
								#portfolioH1		
									{
								
										color:#42435a;
										font-size:255%;
										line-height:170%;
										margin-right:10%;
										position:relative;
										width:50%;
										font-weight:900;
										margin-top:10%;
										float:right;
										text-align:center;
									}										
								#portfolio p
									{
										color:#42435a;
										font-size:1.5em;
										line-height:170%;
										margin-top:30%;
										width:40%;
										font-weight:700;
										float:right;
										margin-right:-50%;
									}
								#happyfamily
									{
										width:30%;
										height:65%;
										position:relative;
										margin-left:4%;
										margin-top:12%;
										border-radius:2%;
										padding-bottom:7%;
									}
								#LearnMoreButton
									{
										font-size:150%;
										font-weight:bold;
										width:20%;
										height:50;
										border:1px solid black;
										border-radius:30px;
										text-align: center;
										padding-top:2%;
										padding-bottom:2%;
										padding-left:1%;
										padding-right:1%;
										margin-top:-9%;
										margin-left:60%;
										margin-bottom:5%;
										display:block;		
										text-decoration:none;
										
									}
							
								.content 
									{
										max-height: 0;   /* Style the collapsible content. Note: hidden by default */
										overflow: hidden;
										transition: max-height 3s ease-out;
									}	
														
															/*/////////   about us ///////*/
										
								#evanandjustinimg
									{
										position:relative;
										float:right;
										margin-right:2%;
										border-style:inset;
										border-radius:10px;
										border:3px solid gray;
										margin-top:1.77%;
										Width:35%;
										height:50%;
									}
								#aboutus1
									{
										background-color:#156356;
										width:100%;
										color:white;
										font-size:1.2em;
										border-radius:10px;
										margin-top:4%;
										margin-left:0%;
										float:left;
										line-height:2.7em;
										padding-top:5%;
										padding-bottom:5%;
										padding-left:3%;
										padding-right:3%;
										text-align:full;
									}
								#ourstory
									{
										width:39%; 
										border:1px solid gray;
										float:left;
										font-size:2em;
										background-color:#1da38b;
										color:white;
										line-height:1.7em;
										text-align:center;
										border-radius:10px;
										padding-left:1%;
										padding-right:1%;
										
										margin-left:4%;
										margin-top:1.7%;
									}
								#ourstory p
									{
										font-weight:bold;
										font-size:1.3em;
									}
								#happymech
									{
										margin-left:6%;
										margin-top:4%;
										border-radius:10px;
										height:65%;
										
									}
								#ourstory2
									{
										width:47%;
										background-color:#e3f3f1;
										float:right;
										font-size:1.50em;
										line-height:1.3em;
										padding-left:4%;
										padding-right:3%;
										color:#063415;
										text-align:justify;
										margin-right:5%;
										margin-top:4%;
										border-radius:10px;
									}
								#ourstory3
									{
										float:left;
										Width:100%;
										background-color:#bec2bf;
										font-size:1.5em;
										line-height:1.2em;
										padding-left:4%;
										padding-right:3%;
										padding-top:2%;
										padding-bottom:3%;
										text-align:full;
										color:#063415;
										margin-left:0%;
										margin-top:4%;
										border-radius:10px;
									}
															
								#values
									{
										Width:86%;
										background-color:#4b8766;
										color:white;
										font-size:1.5em;
										line-height:1.5em;
										margin-bottom:5%;
										margin-left:auto;
										margin-right:auto;
										margin-top:30%;
										column-count:3;
										column-rule: 10px solid white;
										column-gap: 60px;
										border-radius:10px;
										text-align:center;
										padding-left:3%;
										padding-right:3%;
									}
							
		
																	/*////////// education /////////*/
		
								#educationh1
									{
										font-size:4em;
										color:#bcd3d7;
										width:45%;
										line-height:1.5em;
										margin-top:2%;
										margin-right:2%;
										float:right;
										
									}
								#education
									{
										padding-bottom:5%; 
										column-count:2;
										display: table;
										width:100%;
										font-size:.8em;
										color:#2e423d;
										line-height:1.7em;
										
										padding:5%;
										border-radius:5px
									}
								
								#education h1
									{
										text-align:center;
										color:#2e3d37;
										font-weight:bold;
										 column-span: all;
										 Width:100%;
									}
								#assisth1
									{
										width:100%;
									}
								#learn 
									{
										position:relative;
										left:10%;
										top:5%;				
										border-radius:5%;	
									}
								#topicsulright
									{
										/*width:34%;
										float:right;*/
										margin-left:3%;
										display: table-cell;
									}
							  .topicsleftp  /*this is the sizing of just the <p> elements under the <li> elements 
									{
										/*font-size:.8em;
										color:#2e423d;
										line-height:1.7em;
										background-color:#c9d9d5;
										padding:5%;*/
										border-radius:5px;  
									}
								#topicsulleft
									{
										/*width:34%;
										float:left;
										margin-left:9%;*/
									    display: table-cell;
									}
							
								#education li
									{
										color:#2e423d;
										padding-top:3%;
										list-style-image: url('images/icon 2.png');
										font-size:1.4em;
										margin-bottom:3%;
										line-height:1.5em;
										border:10px solid white;
										background-color:#c9d9d5;
										border-radius:10px;
										padding-left:5%;
									}
								
								
								
								

					
															
																				
									
																	/*////////// FOOTER /////////*/
								footer 
									{
										background-color:#f2f4f3;
										width:100%;
										max-width:1200px;
										font-size: 70%; 
										height:700px;
										clear:both;
										margin-top:-1%;
										margin-left:2%;
										padding-top:2%;
										
									}								
								footer p
									{
										color:black;
									}
								#footerh1
									{
										font-size:3em;
										font-weight:bold;
										margin-left:5%;
										font-family: "Newsreader", serif;
										color:black;
									}
								footer h2, footer h3
									{
										 font-family: "Newsreader", serif;
										 font-size:1.5em;
										 line-height:1em;
									}
								#questions		
									{
										width:70%;
										font-size:1.2em;
										line-height:1.5em;
									}
								footer a:link
									{
										color:black;
									}
								footer a:hover
									{
										/*color:#093DFB;*/
									}
								.footeremail
									{
										  font-size:1.5em;
										  font-family: "Newsreader", serif;
										  line-height:2em;
									}
								#footerphone
									{
										font-weight:bold;
										font-size:1.2em;
									}
								#footerleft
									{
										float:left;
										width:42%; 
										margin-left:3%; 
									}
								#formleft
									{
										float:left;
										width:30%; 
										margin-left:5%;
									}
								#formright
									{
										float:right;
										width:45%;
										margin-left:2%;
										
									}
								#footerright
									{
										float:right;
										width:55%;
										margin-top:-51%;
										text-align:left;
										margin-right:2%;
										font-size:1.2em;
										background-color:white;
									}
								#firstname, #lastname, #readersemail, #cellphone, #zipcode
									{
										background-color:white;
										color:black;	
										border-style:inset;
										height:30px;
									}
								#select  
									{
										
										Width:50%;
										margin-left:15%;
										margin-top:4%;
									}
								
								#lifeinsuranceproducts
									{
										font-size:1em;
										width:110%;
										margin-left:-5%;
										margin-top:2%;
										float:left;
										font-weight:300; 
									}
								#lifeinsuranceproducts input
									{
										display:none;  /*gets rid of the checkbox  */
									}
								#lifeinsuranceproducts p 
									{
										 
										width:100%; 
										margin-left:10%;
										padding-left:5%;
									}
								#lifeinsuranceproducts img
									{
										padding-left:5%;
										padding-bottom:2%;
										Width:100px;
									}
								#lifeinsuranceproducts label
									{
										margin-left:12%; 
										float:left;
									}
								#lifeinsuranceproducts li
									{
										padding-right:2%;border:1px solid gray;
										width:20%;
									}
								footer ul 
									{
										list-style-type: none;
									}

								footer li 
									{
										display: inline-block; list-style-type:none;
									}

									/*input[type="checkbox"][id^="myCheckbox"] {
									  display: none;
									}*/

								#lifeinsuranceproducts input
									{
										display:none;  /*gets rid of the checkbox  */
									}


								label 
									{
									  cursor: pointer;
									 
									}
								label:before   /*this is for the little circle with a check in it that appears once the icon is checked   */
									{
										  background-color: white;
										  color: white;
										  content: " ";
										  display: block;
										  border-radius: 50%;
										  border:1px solid green;
										  width: 25px;
										  height: 25px;
										  text-align: center;
										  line-height: 28px;
										  transition-duration: 0.4s;
										  transform: scale(0); 
									}

								
								:checked + label /*  :checked is a pseudo element and is for when the box is checked  */
										{
										  border-color: #ddd;
										}

									:checked + label:before   /*  inserts something before the element  */
										{
										  content: "✓";
										  background-color: grey;
										  transform: scale(1);
										}

									:checked + label img 
										{
										  transform: scale(0.9);
										  /* box-shadow: 0 0 5px #333; */
										  z-index: -1;
										}
								#submitbutton
									{
										color:white;
										background-color:black;
										width:40%;
										height:45px;
										text-align:left;
										font-size:1em;
										margin-top:5%;
										margin-left:15%;
										margin-bottom:3%;
									}
								.formicons
									{
										border:1px solid #7c7f82;
										margin-left:5%;
										
									}
								.error
									{
										color:red;
									}
									
			
														/*//////////  contact   /////////*/
														
						#womanphone
							{
								border-radius:10px;
								float:right;
								margin-right:5%;
								opacity:.8;
							}
						#contactH1
							{
								font-size:4em;
								float:left;
								margin-left:4%;
								Width:35%;
								color:white;
								line-height:1.5em;
								text-align:center;
								font-style:italic;
							}
						.contact
							{	
								font-family: "Noto Sans", sans-serif;
								font-size: 1em;
								text-align:center; 
								line-height:1.2em;
								font-size:1.1em;
								max-width:1300px;
								color:#031812;
								margin-top:10%;
								margin-left:0%;

							}
						.contact h1
							{
								text-align:center;
								width:100%;
								margin-left:auto;
								margin-right:auto;
								margin-top:5%;
							}
						.contact hr
							{
								width:60%;
								border: 5px solid #031812;
								border-radius: 5px;
								color:#031812;
								margin-left:auto;
								margin-right:auto;
							}
						.contact img
							{
								border-radius:50%;
							}
						.contact a
							{
								color:#031812;
							}
						.contact a:hover
							{
								color:#39403e;
							}
						
						#contactemaildiv
							{
								width:25%;
								height:100%;
								text-align:center;
								margin-top:5%;
								margin-left:2%;
								float:left;
								border-right:1px solid #031812;
								padding-right:2%;
								padding-bottom:8%;
								margin-bottom:15%;
							}
						#contactformdiv
							{
								width:35%;
								float:left;
								margin-left:0%;
								margin-top:5%;
								text-align:left;
								border-right:1px solid #031812;
								padding-right:5%;
								line-height:.6em;
								height:100%;
							}
						#contactformdiv form
							{
								padding-left:18%;
							}
						#contactformdiv h2
							{
								text-align:center;
							}
						 #contactfirstname, #contactlastname, #contactformdiv #contactemail, #contactmessage, #contactcellphone
							{
								background-color:#031812;
								color:white;	 
								font-weight: bold;
								height:40px;
								width:290px;
							}
						#contactcall
							{
								width:25%;
								float:right;
								margin-top:5%; 
								margin-right:4%;
								text-align:center;
							}
							
						#contactformbutton 
							{
								height:40px;
								width:100px;
								background-color:#031812;
								color:white;
							}
								
					}



@media screen and (min-width: 1168px) 
	{		
		body 
			{
				font-family: "Noto Sans", sans-serif;
				line-height: 1em;
				font-size: 1em;
			}
		head
			{
				width:100%; 
				
			}
		#wrapper
			{
				width:100%;  	
				max-width:1200px;
				background-position:center top;
				background-image: url("images/teal.jpg");
				background-repeat: no-repeat;
				box-sizing: border-box;
				padding-top:4%;
				overflow:hidden;
				margin-left:10%;
				min-height:550px;
			}
		#topbanner
			{
				color:black;
				margin-left:10%;
				width:100%;
				max-width:1200px;
				text-align:left;
				margin-bottom:5%;
				margin-top:1%;
			}
		#bannername 
			{
				font-size: 2em;
				font-style:italic;
				font-weight:900;
				width: 5%;
				line-height:90%;
				position:ABSOLUTE;
				left:3%;
				top:5%;
			}
		
		
		#topbanner li
			{
				padding-right:5%;
			}
		.portfolioimage a
			{
				text-decoration:none;
				color:black;
			}
		.portfolioimage a:hover
			{
				color:black;
			}	
																

															/* /////  Index   /////  */

		#header
			{
				color:white; 
				height:20%; 
				width:34%; 
				/*margin-left:62%;*/
				margin-top:0%;
				
			}
		#titleh1
			{
				text-align:center;
				line-height:200%;
			}
		#BrathwaiteTitle
			{
				font-size:5em;
				line-height:120%;
				margin-left:15%;
				color:#bcd3d7;
			}
		#titleh1
			{
				font-size:145%;
				text-align:center;
			}
		#titleh3
			{
				margin-left:15%;
				width:160%;
				font-size:2.5em;
				color:white; 
				line-height:150%;
				height:auto;
			}
		#evanandjustin8
			{
				width:100%;
				height:90%;
				position:relative;
				left:160%;
				margin-top:-100%;
				border-radius:5%;		
			}
		/*#titleul
			{
				list-style-type: none;
				width:170%;
				margin-left:6%;
				height:40%;
			}*/
		#titleul li
			{
				display:inline;
				font-size:95%; 
				text-align:left;
			}
		#contact
			{
				border: 1px solid black;
				border-radius:30px;
				padding-left:5%;
				padding-top:.5%;
				padding-bottom:.5%;
			}
	
			
		
			
			
			
														/*///////// nav ///////////*/
		nav
			{
				margin-top:1%;
				float:left; 
				margin-left:12%;
				width:110%;
			}
		nav a, nav li, nav ul
			{
				color:black;
				text-decoration:none;
				font-weight:700;
				font-size:110%;
				padding:1%;  
				display:inline;
			}
		nav a:hover, nav li:hover, nav ul:hover
			{
				font-size:120%;
			}



														/*/////////   portfolio /////////*/

		#portfolio1
			{
				background-color:white;
				width:100%;
				padding-bottom:5%;
			}
		#portfolioText
			{
				float:right;
				width:50%;
			}
		#portfolioH1
			{
				color:#42435a;
				font-size:350%;
				line-height:120%;
				margin-left:15%;
				position:relative;
				width:72%;
				font-weight:900;
				margin-top:15%;
			}
		#portfolio p
			{
				color:#42435a;
				font-size:2em;
				line-height:130%;
				margin-left:10%;
				position:relative;
				width:70%;
				font-weight:700;
				
			}
		#happyfamily
			{
				width:30%;
				height:65%;
				position:relative;
				margin-left:15%;
				margin-top:3%;
				margin-bottom:19%;
				padding-bottom:7%;
			}
		#LearnMoreButton
			{
				font-size:150%;
				font-weight:bold;
				width:10%;
				border:1px solid black;
				border-radius:30px;
				text-align: center;
				padding-top:2%;
				padding-bottom:2%;
				padding-left:1%;
				padding-right:1%;
				margin-top:-35%;
				margin-left:65%;
				margin-bottom:10%;
				display:block;		
				text-decoration:none;
			}
		#LearnMoreButton:hover
			{
				color:black;
				font-weight:900;
			}


															/*/////////Education///////*/
															
		#educationh1
			{
				font-size:4em;
				color:#bcd3d7;
				width:45%;
				line-height:1.5em;
				margin-top:2%;
				margin-right:2%;
				float:right;
			}
		#education
			{
				padding-bottom:25%; 
			}
		
		#education h1
			{
				text-align:center;
				color:#2e3d37;
				font-weight:bold;
			}
		#learn 
			{
				position:relative;
				left:10%;
				top:5%;				
				border-radius:5%;	
			}
		#topicsulright
			{
				width:34%;
				float:right;
				margin-right:9%;
			}
		#topicsulleft li p, #topicsulright li p  /*this is the sizing of just the <p> elements under the <li> elements */
			{
				font-size:.8em;
				color:#2e423d;
				line-height:1.7em;
				background-color:#c9d9d5;
				padding:5%;
				border-radius:5px;
			}
		#topicsulleft
			{
				width:34%;
				float:left;
				margin-left:9%;
			}
	
		#education li
			{
				color:#2e423d;
				padding-top:3%;
				list-style-image: url('images/icon 2.png');
				font-size:1.4em;
				margin-bottom:3%;
			}
		
		
		
		

																/*//////about //////*/

		
		#evanandjustinimg
			{
				position:relative;
				float:right;
				margin-right:14%;
				border-style:inset;
				border-radius:10px;
				border:3px solid gray;
				margin-top:1.77%;
			}
		#aboutus1
			{
				background-color:#156356;
				width:65%;
				color:white;
				font-size:1.2em;
				border-radius:10px;
				margin-top:4%;
				margin-left:12%;
				float:left;
				line-height:2.7em;
				padding-top:5%;
				padding-bottom:5%;
				padding-left:4%;
				padding-right:3%;
				text-align:full;
			}
		#ourstory
			{
				width:37%; 
				border:1px solid gray;
				float:left;
				font-size:2em;
				background-color:#1da38b;
				color:white;
				line-height:2em;
				text-align:center;
				border-radius:10px;
				padding-left:2%;
				padding-right:2%;
				padding-top:1.5%;
				padding-bottom:4%;
				margin-left:9%;
				margin-top:1.7%;
			}
		#ourstory p
			{
				font-weight:bold;
				font-size:1.3em;
			}
		#happymech
			{
				margin-left:16%;
				margin-top:4%;
				border-radius:10px;
			}
		#ourstory2
			{
				width:30%;
				background-color:#e3f3f1;
				float:right;
				font-size:1.75em;
				line-height:1.5em;
				padding-left:4%;
				padding-right:3%;
				padding-bottom:4%;
				padding-top:2%;
				color:#063415;
				text-align:justify;
				margin-right:17.5%;
				margin-top:4%;
				border-radius:10px;
			}
		#ourstory3
			{
				float:left;
				Width:65%;
				background-color:#bec2bf;
				font-size:2em;
				line-height:1.6em;
				padding-left:4%;
				padding-right:3%;
				padding-top:2%;
				padding-bottom:3%;
				text-align:full;
				color:#063415;
				margin-left:13%;
				margin-top:4%;
				margin-bottom:4%;
				border-radius:10px;
			}
		#ourvaluesh1
			{
				width:30%;
				position:relative;
				display:block;
				background-color:#4b8766;
				text-align:center;
				height:60px;
				color:black;
				border-radius:10px;
				padding-top:30px;
				margin:auto;
			}
		#ourvaluesul ul
			{
				text-align:center; 
				color:#4b8766;
				font-size:1.5em;
				text-align:center;
			}
		#ourvaluesul li
			{
				font-size:1.2em;
				font-weight:bold;
				padding-right:5%;
				display:inline;width:100%; 
				border:1px solid red;
			}
		#values
			{
				Width:66%;
				background-color:#4b8766;
				color:white;
				font-size:1.5em;
				line-height:1.5em;
				margin-bottom:5%;
				margin-left:13%;
				column-count:3;
				column-rule: 10px solid white;
				column-gap: 60px;
				border-radius:10px;
				text-align:center;
				padding-left:3%;
				padding-right:3%;
			}
		
		
	/*	#values2
			{
				width:20%;
				background-color:#4b8766;
				color:white;
				padding-left:7%;
				padding-right:7%;
				padding-bottom:3%;
				padding-top:4%;
				text-align:center;
				font-size:.9em;
				border-radius:10px;
				margin-left:-7%;
				
				
			}
		#values3
			{
				width:20%;
				background-color:#4b8766;
				color:white;
				padding-left:7%;
				padding-right:7%;
				padding-bottom:1%;
				padding-top:1.4%;
				text-align:center;
				font-size:.9em;
				border-radius:10px;
				float:left;
				margin-top:-35%;
				margin-left:31%;
			}
		#values4
			{
				width:20%;
				background-color:#4b8766;
				color:white;
				padding-left:7%;
				padding-right:7%;
				padding-bottom:0%;
				text-align:center;
				font-size:.9em;
				border-radius:10px;
				float:right;
				margin-top:-35%;
				margin-right:-4%;
			}*/
		
					
															
															/*////// footer    //////*/


		footer 
			{
				background-color:#f2f4f3;
				width:100%;
				max-width:1200px;
				font-size: 90%; 
				height:700px;
				clear:both;
				margin-top:-1%;
				margin-left:10%;
				padding-top:2%;
				
			}
		footer p
			{
				color:black;
			}
		#footerh1
			{
				font-size:3em;
				font-weight:bold;
				margin-left:10%;
				font-family: "Newsreader", serif;
				color:black;
			}
		footer h2, footer h3
			{
				 font-family: "Newsreader", serif;
				 font-size:2em;
				 line-height:1em;
			}
		#questions		
			{
				width:70%;
				font-size:1.2em;
				line-height:1.1em;
			}
		footer a:link
			{
				color:black;
			}
		footer a:hover
			{
				/*color:#093DFB;*/
			}
		.footeremail
			{
				  font-size:1.5em;
				  font-family: "Newsreader", serif;
				  line-height:2em;
			}
		#footerphone
			{
				font-weight:bold;
				font-size:1.2em;
			}
		#footerleft
			{
				float:left;
				width:42%; 
				margin-left:7%; 
			}
		#formleft
			{
				float:left;
				width:30%; 
				margin-left:15%;
			}
		#formright
			{
				float:right;
				width:45%;
				margin-left:5%;
				
			}
		#footerright
			{
				float:right;
				width:55%;
				margin-top:-51%;
				text-align:left;
				margin-right:2%;
				font-size:1.2em;
				background-color:white;
			}
		#firstname, #lastname, #readersemail, #cellphone, #zipcode
			{
				background-color:white;
				color:black;	
				border-style:inset;
				height:30px;
			}
		#select  
			{
				
				Width:50%;
				margin-left:15%;
				margin-top:4%;
			}
		#lifeinsuranceproducts
			{
				font-size:1em;
				width:85%;
				margin-left:10%;
				margin-top:2%;
				float:left;
				font-weight:300; 
			}
		#lifeinsuranceproducts input
			{
				display:none;  /*gets rid of the checkbox  */
			}
		#lifeinsuranceproducts p 
			{
				margin-left:6%; 
				width:100%; border:1px solid gray;
				margin-left:25%;
				padding-left:5%;
			}
		#lifeinsuranceproducts img
			{
				padding-left:20%;
			}
		#lifeinsuranceproducts label
			{
				margin-left:12%; 
				float:left;
			}
		#lifeinsuranceproducts li
			{
				padding-right:2%;
				width:20%;
			}
		footer ul 
			{
				list-style-type: none;
			}

		footer li 
			{
				display: inline-block; list-style-type:none;
			}

			/*input[type="checkbox"][id^="myCheckbox"] {
			  display: none;
			}*/

		#lifeinsuranceproducts input
			{
				display:none;  /*gets rid of the checkbox  */
			}


		label 
			{
			  cursor: pointer;
			 
			}
		label:before   /*this is for the little circle with a check in it that appears once the icon is checked   */
			{
				  background-color: white;
				  color: white;
				  content: " ";
				  display: block;
				  border-radius: 50%;
				  border:1px solid green;
				  width: 25px;
				  height: 25px;
				  text-align: center;
				  line-height: 28px;
				  transition-duration: 0.4s;
				  transform: scale(0); 
			}

		label img          /*  this is for the actual icon  */
			{
				 height: 100px;
				 width: 100%;
				 transition-duration: 0.2s; 
				 transform-origin: 50% 50%;
			}

		:checked + label /*  :checked is a pseudo element and is for when the box is checked  */
				{
				  border-color: #ddd;
				}

			:checked + label:before   /*  inserts something before the element  */
				{
				  content: "✓";
				  background-color: grey;
				  transform: scale(1);
				}

			:checked + label img 
				{
				  transform: scale(0.9);
				  /* box-shadow: 0 0 5px #333; */
				  z-index: -1;
				}
		#submitbutton
			{
				color:white;
				background-color:black;
				width:40%;
				height:45px;
				text-align:left;
				font-size:1em;
				margin-top:5%;
				margin-left:15%;
				margin-bottom:3%;
			}
		.formicons
			{
				border:1px solid #7c7f82;
				margin-left:5%;
				
			}
		.error
			{
				color:red;
			}
			
			
														/*//////////  contact   /////////*/
														
		#womanphone
			{
				border-radius:10px;
				float:right;
				margin-right:5%;
				opacity:.8;
			}
		#contactH1
			{
				font-size:4em;
				float:left;
				margin-left:4%;
				Width:35%;
				color:white;
				line-height:1.5em;
				text-align:center;
				font-style:italic;
			}
		.contact
			{	
				font-family: "Noto Sans", sans-serif;
				font-size: 1em;
				text-align:center; 
				line-height:1.2em;
				font-size:1.1em;
				max-width:1300px;
				color:#031812;
				margin-top:10%;
				margin-left:5%;

			}
		.contact h1
			{
				text-align:center;
				width:70%;
				margin-left:20%;
				margin-top:5%;
			}
		.contact hr
			{
				width:60%;
				border: 5px solid #031812;
				border-radius: 5px;
				color:#031812;
				margin-left:25%;
			}
		.contact img
			{
				border-radius:50%;
			}
		.contact a
			{
				color:#031812;
			}
		.contact a:hover
			{
				color:#39403e;
			}
		
		#contactemaildiv
			{
				width:25%;
				height:60%;
				text-align:center;
				margin-top:5%;
				margin-left:2%;
				float:left;
				border-right:1px solid #031812;
				padding-right:2%;
				padding-bottom:8%;
				margin-bottom:15%;
			}
		#contactformdiv
			{
				width:35%;
				float:left;
				margin-left:3%;
				margin-top:5%;
				text-align:left;
				border-right:1px solid #031812;
				padding-right:3%;
				line-height:.6em;
				height:73%;
			}
		#contactformdiv form
			{
				padding-left:18%;
			}
		#contactformdiv h2
			{
				text-align:center;
			}
		 #contactfirstname, #contactlastname, #contactformdiv #contactemail, #contactmessage, #contactcellphone
			{
				background-color:#031812;
				color:white;	 
				font-weight: bold;
				height:40px;
				width:290px;
			}
		#contactcall
			{
				width:25%;
				float:right;
				margin-top:5%; 
				text-align:center;
			}
			
		#contactformbutton 
			{
				height:40px;
				width:100px;
				background-color:#031812;
				color:white;
			}
				
	
}



